 {
  channelId: '1305574533167583336',
  guildId: null,
  id: '1312112920502472754',
  position: null,
  createdTimestamp: 1732902498127,
  type: 'DEFAULT',
  system: false,
  content: 'Hello',
  author: User {
    id: '1261223581853945888',
    bot: false,
    system: false,
    flags: UserFlags { bitfield: 0 },
    username: 'forever_774',
    globalName: '@eth.codev',
    discriminator: '0',
    avatar: '9a8679b5689861b57b1ce928dbc4cd4d',
    banner: undefined,
    bannerColor: undefined,
    accentColor: undefined,
    avatarDecorationData: null,
    clan: null
  },
  pinned: false,
  tts: false,
  nonce: '1312112793595412480',
  embeds: [],
  components: [],
  attachments: Collection(0) [Map] {},
  stickers: Collection(0) [Map] {},
  editedTimestamp: null,
  reactions: ReactionManager { message: [Circular *1] },
  mentions: MessageMentions {
    everyone: false,
    users: Collection(0) [Map] {},
    roles: Collection(0) [Map] {},
    _members: null,
    _channels: null,
    _parsedUsers: null,
    crosspostedChannels: Collection(0) [Map] {},
    repliedUser: null
  },
  webhookId: null,
  poll: null,
  groupActivityApplication: null,
  applicationId: null,
  activity: null,
  flags: MessageFlags { bitfield: 0 },
  reference: null,
  interaction: null,
  call: null,
  snapshots: null
}